@media (min-width: 1920px){
  .container, .container-lg, .container-md, .container-sm, .container-xl, .container-xxl {
      max-width: 1400px;
  }
}
@media screen and (max-width: 1920px) {
	.ins-sol-img {
		width: 30rem;
		height: auto;
	}
	.fs-60 {
		font-size: 3rem;
	}
	.main-head {
		width: 32rem;
	}
}

@media screen and (max-width: 1728px) {
	/* .gif-position {
		width: 63rem;
	} */
	.ellipse{
		width: 55rem;
	}
	.in-sol {
		width: 55rem;
		height: 50rem;
	}
	.in-sol-head, .in-sol-main, .in-sol-card{
		top: 15rem;
		left: 10rem;
	}
	.in-sol-card{
		width: 25rem;
	}
	.ms-6 {
		margin-left: 4.5rem;
	}
}

@media screen and (max-width: 1635px) {
	.gif-position{
		width: calc(68rem - 15vw);
	}
	.ratings {
		width: 33rem;
		height: 33rem;
	}
	.elps9 {
		top: 13rem;
		width: 16rem;
	}
	.cst-1 {
		width: 23rem;
		left: 6rem;
		top: 12rem;
	}
	.ratings-str {
		left: 7rem;
		top: 5rem;
	}
	.name-content {
		top: 15rem;
		left: -4rem;
	}
	.recomended-content {
		top: 17rem;
		left: -5.2rem;
	}
}

@media screen and (max-width: 1500px) {
	.ins-sol-img{
		width: 25rem;
		height: auto;
	}
	
	.ellipse {
		width: 50rem;
	}
	.gif-position{
		width: calc(68rem - 20vw);
	}
}

@media screen and (max-width: 1399px) {
	.fs-60 {
		font-size: 2.4rem;
	}
	.main-head {
		width: 26rem;
	}
	.in-sol-card{
		left: 3rem;
		width: 23rem;
		top: 12rem;
	}
	.gif-position{
		width: calc(68rem - 25vw);
	}
	.in-sol-head{
		top: 12rem;
		left: 3rem;
	}
	.in-sol-main {
		top: 13rem;
		left: 3rem;
	}
	.ins-sol-img{
		width: 85%;
		height: auto;
		display: block;
	}
	.ratings {
		width: 25rem;
		height: 25rem;
	}
	.elps9 {
		width: 15rem;
		top: 10rem;
	}
	.cst-1 {
		width: 21rem;
		left: 6rem;
		top: 9rem;
	}
	.ratings-str {
		left: 5rem;
		top: 5rem;
	}
	.name-content {
		top: 11rem;
		left: 0rem;
	}
	.recomended-content {
		top: 14rem;
		left: -1.2rem;
	}
	.ms-6 {
		margin-left: 3rem;
	}
	.border-right-nav:after {
		right: -10px;
	}
	.ellipse {
		width: 44rem;
	}
	.bg-form{
		width: 50rem;
	}
	.hero {
		width: 37rem;
		top: 8rem;
	}
	.form {
		width: 32.2rem !important;
	}
	.mt-7 {
		margin-top: 4rem !important;
	}
	.social-icons {
		left: -2.5rem;
		position: relative;
	}
	.yt-container {
		width: 9rem;
	}
	.in-sol {
		width: 47rem;
		height: 43rem;
	}
	h4 {
		font-size: 1.3rem;
	}
	
	.services {
		background-size: 23rem 23rem;
	}
}

@media screen and (max-width: 1330px) {
	.gif-position{
		width: calc(68rem - 30vw);
	}
	.hero-bg {
		background-size: 40rem 34rem !important;
	}
}

@media screen and (max-width: 1230px) {
	.gif-position{
		width: calc(68rem - 35vw);
	}
	.hero-bg {
		background-size: 40rem 34rem !important;
	}
}

@media screen and (max-width: 1199px) {
	.main-head {
		width: 26rem;
	}
	.ellipse {
		width: 37rem;
	}
	.services {
		background-size: 20rem 23rem;
	}	
}

@media screen and (max-width: 1175px) {
	/* .ins-sol-img {
		display: none;
	} */
	.form {
		width: 30rem !important;
	}
	.ms-6 {
		margin-left: 3rem;
	}
	.mt-_3rem {
		margin-top: -3rem !important;
	}
	.ellipse {
		width: 33rem;
	}
	.gif-position{
		margin-top: -5rem;
		width: calc(68rem - 40vw);
	}
	.cst-1 {
		left: 4rem;
	}
	.elps9 {
		left: 6rem;
	}
	.recomended-content {
		left: -2rem;
	}
}

@media screen and (max-width: 1130px) {
	.gif-position{
		width: calc(68rem - 45vw);
	}
}

@media screen and (max-width: 1100px) {
	.gif-position{
		width: calc(68rem - 50vw);
	}
}

@media screen and (max-width: 1024px) {	
	.main-head {
		width: 26rem;
	}
	.ms-sm-6 {
		margin-left: 1rem;
	}
}

@media screen and (max-width: 991px) {
	.ms-14rem {
		margin-left: 11rem;
	}
	.w-75 {
		width: 100% !important;
	}
	.hero-bg {
		background-position: bottom right !important;
		background-size: 25rem 20rem !important;
	}
	.gif-position {
		width: 100%;
		height: auto;
	}
	.hero {
		width: 100%;
		height: auto;
	}
	.bg-form {
		width: 100%;
		height: auto;
	}
	.ratings {
		background: url(./Ellipse-6-rotate.png);
		background-size: cover;
	}
	.cst-1 {
		left: 0rem;
		top: 12rem;
	}
	.elps9 {
		left: 2rem;
		top: 14rem;
	}
	.stars5{
		width:15rem;
	}
	.stars {
		width: 10rem;
	}
	.recomended-content {
		left: 0rem;
	}
	.in-sol {
		height: 66rem;
		background-size: 30rem 35rem !important;
	}
	.fs-60 {
		font-size: 1.6rem;
	}
}

@media screen and (max-width: 500px) {
	.resize-mob {
		width: 100%;
	}
	.form {
		width: 23rem !important;
		height: 33rem !important;
	}
	.mt-_3rem {
		margin-top: 2rem !important;
	}
	.w-50 {
		width: 100% !important;
	}
	.main-head {
		width: 18rem;
	}
	.line-height-60 {
		line-height: 32px;
	}
	.in-sol-head, .in-sol-main {
		left: 1rem;
	}
	.in-sol-card {
		left: 2rem;
	}
	.fs-5_5{
		font-size: 16px;
	}
	.contact-bar {
		width: 22.5rem;
	}
	.ms-14rem {
		margin-left: 7rem;
	}
	.bg-form {
		top: 514rem;
		left: 0rem;
		width: 27rem;
	}
	.ms-sm-6 {
		margin-left: 0rem;
	}
}